.disabled { opacity: 0.5; }

#chat { 
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.welcome-message {
    font-size: 30px;
    font-weight: bold;
    margin: 0.8em 0;
    padding-left: 0.8em;
}

#chat-users-ui {
    margin: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 10px #ccc;
    border-radius: 15px;
}

#chat-users-ui h2 {
    font-size: 35px;
    font-weight: bold;
}

#chat-users-ui, #chat-messages-ui {
    padding: 0.8em;
    position: relative;
}

#chat-users-ui {
    h2 { font-size: 1.3em; }

    li {
        margin-top: 15px;
        border-radius: 100px; 
        background-color: white;
    }
}

#current-users { 
    margin-top: 1em; 
}



#text-wrapper { position: relative; }

textarea { 
    width: 80%; 
    min-height: 50px;
    box-shadow: 0 2px 10px #ccc;
    border-radius: 25px 5px 25px 25px;
    border-color: none;
    background-color: white;
    margin-top: 1em;
    padding: 1em;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1em;
    resize: none;
}

textarea:hover { 
    width: 80%; 
    min-height: 50px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 25px 5px 25px 25px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    margin-top: 1em;
    padding: 1em;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1em;
    resize: none;
    transition: 0.3s ease;
}

#sendMessage {
    position: relative;
    top: -20px;
    left: 10px;
    border: none;
    width: 65px;
    height: 65px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 100%;
    background-color: $message-bg;

    i { color: white; }
}

#sendMessage:hover {
    position: relative;
    top: -20px;
    left: 10px;
    border: none;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 100%;
    background-color: #718355;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition: 0.3s ease;

    i { color: white; }
}

#icon-send {
    margin-top: 8px;
    margin-left: -6px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}